body {
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    width: 375px;
    margin: 0 auto;
    border: 1px solid black;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
  
a{
    text-decoration: none;
    color: inherit;
}
  