body {
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    width: 375px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
  
a{
    text-decoration: none;
    color: inherit;
}

.nav-tabs {
    border: 0;
}

.nav-tabs .nav-link {
    border: 0;
    color: $neutral-300;
    .active-deco {
        height: 2px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    &.nav-learning.active {
        color: $primary;
        .active-deco {
            background-color: $primary;
            border-color: $primary;
        }
    }
}

[class^='mgc_']::before,
[class*=' mgc_']::before {
  color: inherit !important;
}
// 對所有類名以“mgc_”開頭或包含“ mgc_”的::before偽元素的樣式，它將這些元素的文字顏色設置為繼承自其父元素的顏色
// <span class="mgc_quill_pen_line"></span>