body {
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    width: 375px;
    margin: 0 auto;
    border: 1px solid black;
}

img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
  
a{
    text-decoration: none;
    color: inherit;
}

.nav-tabs {
    border: 0;
}

.nav-tabs .nav-link {
    border: 0;
    color: $neutral-300;
    .active-deco {
        height: 2px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    &.nav-learning.active {
        color: $primary;
        .active-deco {
            background-color: $primary;
            border-color: $primary;
        }
    }
}