// .swiper-pagination{
//   display: inline-block;
//   &-bullet{
//     width: 6px;
//     height: 6px;
//     background: $neutral-100;
//     margin: 0 2px;
//   }
//   &-bullet-active{
//     width: 24px;
//     height: 6px;
//     background: $primary-300;
//   }
// }

.swiper-pagination-bullet.swiper-pagination-bullet{
    width: 6px;
    height: 6px;
    background: $neutral-100;
    margin: 0 2px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
    width: 24px;
    height: 6px;
    border-radius: 4px;
    background: $primary-300;
}


// heroSwiper - start
.heroSwiperWrap {
    padding-bottom: 0;
    @media (min-width:768px) {
      padding-bottom: 72px;
    }
  }
  
  // —來自Ann Chou發佈於Ann Chou的沙龍 https://vocus.cc/article/66124270fd89780001f54193
  .heroSwiperWrap.container {
    padding: 0px;
    @media (min-width:992px) {
      max-width: 1920px ;
      padding: 0 160px;
    }
  }
  .swiper.heroSwiper {
    @media (min-width:768px) {
      margin: 0 -28px !important; 
      padding: 0 28px !important;
    }
    @media (min-width:992px) {
      margin: 0 -160px !important; 
      padding: 0 160px !important;
    }
  }
  
  .swiper-button-prev.heroSwiper-button-prev::after {
    content: "";
    @media (min-width:768px) {
      content: "\e5c4";
      font-family: "Material Symbols Outlined";
      font-size: 24px;
      padding: 1rem;
      background: $white;
      border-radius: 12px;
      box-shadow: 0px 10px 15px -3px #0000001A;
      margin-left: 16px; // new
    }
    @media (min-width:992px) {
      margin-left: 272px; // new
    }
  }
  
  .swiper-button-next.heroSwiper-button-next::after {
    content: "";
    @media (min-width:768px) {
      content: "\e5c8";
      font-family: "Material Symbols Outlined";
      font-size: 24px;
      padding: 1rem;
      background: $white;
      border-radius: 12px;
      box-shadow: 0px 10px 15px -3px #0000001A;
      margin-right: 16px; // new
    }
    @media (min-width:992px) {
      margin-right: 272px; // new
    }
  }
  
  .mb-50 {
    margin-bottom: 50px;
  }
  
  // heroSwiper - end
  
  // .swiper-pagination-bullet.swiper-pagination-bullet-active {
  //   width: 24px;
  //   border-radius: $border-radius-pill;
  // }
  
  //@import "...";
  