<div class="d-flex align-items-center">
  <div class="position-relative me-xs">
    <img src="../assets/images/avatar-1.png" alt="" style="width: 32px;">
    <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
  </div>
  <h4 class="fw-700 me-xs mb-0">Elly</h4>
  <span class="tag tag-gray pb-tiny me-xs mb-0">留學生</span>
  <span class="tag tag-gray pb-tiny mb-0">INFP</span>
</div>