<div class="fixed-bottom mx-auto" style="width: 375px;">
    <section class="footer bg-white py-l text-gray-300 shadow-md">
      <div class="container d-flex justify-content-between align-items-center gap-s text-tertiary">
        <span class="material-symbols-outlined">photo_camera</span>
        <span class="material-symbols-outlined">image</span>
        <div class="input-group">
          <input type="text" class="form-control border-end-0 py-xs pe-0 text-start" placeholder="我也覺得…" aria-label="Username" aria-describedby="basic-addon1" style="text-indent: 0; line-height: 1.5;">
          <span class="input-group-text material-symbols-outlined text-tertiary bg-white ps-0 py-xs pe-s fs-t2 lh-1">mic</span>
        </div>
        <i class="bi bi-send fs-t3"></i>
      </div>
    </section>
  </div>
  