<section class="friends-bg-top fixed-top" style="width: 375px; margin: 0 auto;">
  <div class="header-top d-flex justify-content-between">
    <time class="header-time-text">9:41</time>
    <img src="../assets/images/index/mobile_top_icon.svg" alt="mobile simulated diagram">
  </div>
</section>