<section class="header">
    <div class="header-top d-flex justify-content-between">
        <time class="header-time-text">9:41</time>
        <img src="../assets/images/index/mobile_top_icon.svg" alt="mobile simulated diagram">
    </div>
    <div class="header-bot text-gray-500 d-flex justify-content-around align-items-center" style="padding-bottom: 14px;">
        <!-- 頭貼 -->
         <a class="px-s" href="#" title="個人頁面">
             <img src="../assets/images/index/user-headshot.svg" alt="user-headshot">
         </a>
        <div class="d-flex flex-column align-items-start">
            <!-- 今日資訊 -->
            <ul class="today-info list-unstyled fs-t7 p-xxs d-flex justify-content-between align-items-center mb-0">
                <li class="px-xxs py-tiny me-xxs rounded-1 bg-primary-light text-white">火</li>
                <li class="me-xxs">東京都</li>
                <li><img class="me-xxs d-inline-block" style="width: 12px;" src="../assets/images/index/sun_cloudy_fill.svg" alt="weather-icon"></li>
                <li>24°C | 累積登入 10 天</li>
            </ul>
            <!-- 打招呼 -->
            <div class="user-greeting d-flex align-items-center">
                <h2 class="fs-h2 fw-700 text-gray-900 me-s ps-xxs mb-0">Yi Chun</h2>
                <h3 class="fs-h3 fw-700 text-primary mb-0">おはよう！</h3>
            </div>
        </div>
        <!-- 通知按鈕 -->
            <img class="ms-auto pe-s" src="../assets/images/index/bell_ringing_line.svg" alt="info-sub">
    </div>
</section>