.tag{
    display: inline-block;
    max-height: 24px;
    padding: 4px 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius-xxs;
    background: $white;
    font-size: 12px;
    line-height: 16px;
}
.tag-sm {
    display: inline-block;
    max-height: 22px;
    padding: 4px 8px 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: $border-radius-xxs;
    background: $white;
    font-size: 12px;
    line-height: 16px;
}

.tag-primary{
    color: $primary;
    border-color: $primary;
}

.tag-secondary{
    color: $secondary;
    border-color: $secondary;
}

.tag-tertiary{
    color: $tertiary;
    border-color: $tertiary;
}

.tag-gray{
    color: $gray-400;
    border-color: $gray-400;
}