.header-bg-article{
    background-image: url(/assets/images/article/bg-tertiary-gradient.png);
    background-color: $neutral-50;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 374px auto;
}

.nav-tabs .nav-link {
    border: 0;
    color: $neutral-300;
    .active-deco-tertiary {
        height: 2px;
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    &.nav-article.active {
        color: $tertiary-600;
        background: transparent;
        .active-deco-tertiary{
            background-color: $tertiary-600;
            border-color: $tertiary-600;
        }
    }
}

.nav-pills .nav-link{ 
        &.nav-off-event.active{
        background-color: $tertiary-400;}
}

.nav-on-event:hover{
    color:$primary;
    background-color: $primary-100;
    &:active,
    &:focus{
        background-color: $primary-700;
    }
}

.nav-off-event:hover{
    color: $tertiary-400;
    background-color: $tertiary-100;
    &:active,
    &:focus{
        background-color: $tertiary-700;
    }
}

.selector-class:hover{
    filter: brightness(1.2);
    &:active,
    &:focus{
        filter: brightness(0.9);
    }
}
.selector-district:hover{
    filter: brightness(1.2);
    &:active,
    &:focus{
        filter: brightness(0.9);
    }
}
.selector-time:hover{
    filter: brightness(1.2);
    &:active,
    &:focus{
        filter: brightness(0.9);
    }
}

.modal.fade .modal-dialog {
    transform: translateY(100%);
}
  
.modal.show .modal-dialog {
    transform: translateY(0%);
}

.selector-modal-outline:hover{
    background-color: $neutral-100;
}

.form-control{
    text-indent: 30px;
}

.form-control::placeholder{
    color: $gray-300;
    // vertical-align: bottom;

    /* T5_16 Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.deco-online{
    background-color: $primary;
    &:hover{
        background-color: #40A8D9;
    }
    &:active,
    &:focus{
        background-color: $primary-900;
    }
}

.deco-offline{
    background-color:$tertiary-400;
    &:hover{
        background-color:#97D277;
    }
    &:active,
    &:focus{
        background-color: $tertiary-700;
    }
}


// .offline-active{
//     background-color: $tertiary-400;
// }

// .online-active{
//     background-color: $primary;
// }