.header-bg-friends {
    background-image:  url(/assets/images/friends-bg.png);
    background-color: $neutral-50;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 375px auto;
}

.friends-bg-top {
    background-image:  url(/assets/images/friends-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.chat-hint {
    font-size: 8px;
    line-height: 1;
    padding: 4.5px 9.5px;
}

.input-group:focus-within {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #97cbe4;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(47, 151, 200, 0.25);
    z-index: 3;
    border-radius: var(--bs-border-radius);

    .input-group-text {
        border-color: #97cbe4;
    }
}
.input-group-text {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group .form-control:focus {
    box-shadow: none !important;
}

