.jap-learning{
  border-radius: var(--Radius-s, 12px);
  border: 1px solid var(--Base-Neutral-100, #E7E7E7);
  background: linear-gradient(180deg, #E4F1FA -5.43%, #C4E2F3 23.91%, #F6F6F6 99.94%), var(--Base-Neutral-0, #FFF);
  /* shadow-sm */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
  &-content{
    height: 140px;
    padding: 12px 18px;
    border-radius: var(--Radius-s, 12px);
    border: 1px solid var(--Base-Neutral-100, #E7E7E7);
    background: #FFF;
  }
}

.course-progress{
  height: 80px;
  width: 80px;
  border: 5px solid #F6F6F6;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0 26.75px;
  &-number{
    text-align: center;
    font-size: 24.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.383px; /* 119.444% */
    letter-spacing: 0.015px;
  }
  &-percentage{
    font-size: 9.567px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.667px;
    letter-spacing: 0.006px;
  }
}

.modal-map {
    background-image: url(/assets/images/index/map_modal.png);
    background-repeat: no-repeat;
    background-position: center;
}

.map-near-me-icon{
  border-radius: 5.333px;
  background: var(--Base-Neutral-50, #F6F6F6);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.02), 0px 2.667px 5.333px 0px rgba(0, 0, 0, 0.08);
  &:hover{
    background: $neutral-100;
  }
}

.nearby-people{
  border-radius: var(--Radius-s, 12px);
  border: 1px solid var(--Base-Neutral-100, #E7E7E7);
  background: linear-gradient(180deg, #FDF9C4 9.78%, #FDF08B 44.54%, #F6F6F6 91.71%);

  /* shadow-sm */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.nearby-event{
  border-radius: var(--Radius-s, 12px);
  border: 1px solid var(--Base-Neutral-100, #E7E7E7);
  background: linear-gradient(180deg, #E9F6E2 0.07%, #B1DB9A 23.04%, #F6F6F6 59.99%);

  /* shadow-sm */
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.event-card-info a:hover{
  text-decoration: underline;
}

.location {
  padding: 15px 18px 17px 18px;
  background-image: url(/assets/images/index/Union.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}