.header-bg-learning {
    background-image:  url(/assets/images/learning-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 374px auto;
}

.learning-bg-top {
    background-image:  url(/assets/images/learning-bg-top.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.learning-card {
    width: 100%;
    padding: 16px 16px;
    border-radius: 12px;
    border: 1px solid $neutral-100;
    background: $neutral-0;

    /* shadow-sm */
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02), 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.JLPT-test {
    &:hover , &:focus , &:active {
        background-color: $primary-400;
        border-color: $primary-400;
        p {
            color: $white;
        }
    }
}