<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>蛙化現象</title>
  </head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <body style="width: 375px; padding-top: 54px; padding-bottom: 75px;">
    <%- include('./layout/header-tertiary-plain'); -%> 
    <section class="article-frog-banner position-relative">
      <img src="../assets/images/article/article-frog/article-frog-banner.png" alt="蛙化現象 封面圖">
      <div class="img-top-btn p-s d-flex gap-xs justify-content-between position-absolute top-0" style="width: 375px;">
        <a class="icon-btn-bg back-button" href="index.html" title="回上頁">
          <span class="material-symbols-outlined icon-btn" >arrow_back_ios_new</span>
        </a>
        <div class="btn-right">
          <a class="icon-btn-bg" href="#" title="加入最愛">
            <span class="material-symbols-outlined icon-btn">favorite</span>
          </a>
          <a class="icon-btn-bg" href="#" title="分享">
            <span class="material-symbols-outlined icon-btn">share</span>
          </a>
        </div>
      </div>
    </section>
    <div class="container">
      <section class="article-header my-m d-flex justify-content-between align-items-center">
        <div class="d-flex gap-xs">
          <h1 class="fs-h3 fw-700 text-gray-900 mb-0">カエル化現象</h1>
          <a class="tag tag-primary" href="#">人生</a>
        </div>
        <a class="btn btn-primary" href="article-frog-tw.html">日本語訳</a>
      </section>
      <section class="article-body">
        <p class="fs-t5 text-gray-400 mb-0 frog-japanese" style="line-height: 22px;">「カエル化現象」は、心理学者の藤沢伸介氏が提唱した概念で、童話『青い蛙の王子様』から派生しています。これは、女性が自分の好きな相手も自分のことを好きだと知った後、その相手が急に好きにならなくなる現象を指します。このような現象は女性の自己卑下感から来る可能性があり、「どうして彼がこんな普通の私を好きになるの？」と自問し、相手に幻滅してしまうこともあるでしょう。また、女性が片思いの過程を楽しんでいるだけで、曖昧な恋愛感を維持したいだけで、実際には相手と恋愛関係を持ちたくない場合もあります。<br>
        しかし、日本のメディア『TBS NEWS DIG』によると、若者の間で「カエル化現象」には新しい解釈が広がっています。それは「好きだった男性が、生活の些細な面で幻滅させられる行動」を指し、女性が元々その男性に好意を抱いていた場合でも、突然恋愛感情が冷めてしまうことがあるというものです。彼らの目には王子様だった男性が突如としてカエルに変わってしまうのです。</p>
      </section>
      <section class="artcle-footer">
        <ul class="list-unstyled my-m d-flex gap-s">
          <li>
            <a class="fs-t5 text-gray-400 mb-0 " href="#" title="comment"><span class="material-symbols-outlined fs-t5 text-primary align-middle me-tiny">chat</span>32</a>
          </li>
          <li>
            <a class="fs-t5 text-gray-400 mb-0 " href="#" title="加入最愛"><span class="material-symbols-outlined fs-t5 text-primary align-middle me-tiny">favorite</span>195</a>
          </li>
          <li>
            <a class="fs-t5 text-gray-400 mb-0 " href="#" title="分享"><span class="material-symbols-outlined fs-t5 text-primary align-middle me-tiny">share</span>195</a>
          </li>
        </ul>
        <hr/>
      </section>
    </div>
    <div class="container">
      <ul class="message-list list-unstyled d-flex flex-column gap-m">
        <!-- 留言一 -->
        <li>
          <section class="message-list-message-header d-flex justify-content-between align-items-center">
            <div class="d-flex gap-xs align-items-center">
              <div class="message-headshot position-relative">
                <img src="../assets/images/article/article-frog/comment-avatar-1.png" alt="elly">
                <img class="position-absolute start-0 bottom-0" src="../assets/images/article/article-frog/deco-flag.svg">
              </div>
              <h4 class="fs-h4 fw-700 text-gray-900 mb-0">Elly</h4>
              <a href="#" class="tag tag-gray">留學生</a>
              <a href="#" class="tag tag-gray">INFP</a>
            </div>
            <a href="#" class="d-inline-flex align-items-center fs-t8 text-gray-400">
              <span class="material-symbols-outlined me-tiny" style="line-height: 16px; height: auto; width: auto;">favorite</span>
              <span>195</span>
            </a>
          </section>
          <section class="message-body p-m ms-auto bg-gray-50 rounded-top-end-3 rounded-bottom-3" style="width: 304px;">
            <p class="fs-t6 mb-0" style="line-height: 20px;">我記得我有個暗戀的學長他就是這樣，後來直接人間清醒🥲</p>
          </section>
        </li>
        <!-- 留言二 -->
        <li>
          <section class="message-list-message-header d-flex justify-content-between align-items-center">
            <div class="d-flex gap-xs align-items-center">
              <div class="message-headshot position-relative">
                <img src="../assets/images/article/article-frog/comment-avatar-2.png" alt="elly">
                <img class="position-absolute start-0 bottom-0" src="../assets/images/article/article-frog/deco-flag.svg">
              </div>
              <h4 class="fs-h4 fw-700 text-gray-900 mb-0">John</h4>
              <a href="#" class="tag tag-gray">上班族</a>
              <a href="#" class="tag tag-gray">ENTJ</a>
            </div>
            <a href="#" class="d-inline-flex align-items-center fs-t8 text-gray-400">
              <span class="material-symbols-outlined me-tiny" style="line-height: 16px; height: auto; width: auto;">favorite</span>
              <span>195</span>
            </a>
          </section>
          <section class="message-body p-m ms-auto bg-gray-50 rounded-top-end-3 rounded-bottom-3" style="width: 304px;">
            <p class="fs-t6 mb-0" style="line-height: 20px;">我有一次跌倒的時候用搞笑的方式帶過，但沒想到我的曖昧對象居然從那次之後就沒有再跟我聯絡了...蛙蛙竟是我自己</p>
          </section>
        </li>
        <!-- 留言三 -->
        <li>
          <section class="message-list-message-header d-flex justify-content-between align-items-center">
            <div class="d-flex gap-xs align-items-center">
              <div class="message-headshot position-relative">
                <img src="../assets/images/article/article-frog/comment-avatar-3.png" alt="elly">
                <img class="position-absolute start-0 bottom-0" src="../assets/images/article/article-frog/deco-flag.svg">
              </div>
              <h4 class="fs-h4 fw-700 text-gray-900 mb-0">Elly</h4>
              <a href="#" class="tag tag-gray">全職媽咪</a>
              <a href="#" class="tag tag-gray">ISTJ</a>
            </div>
            <a href="#" class="d-inline-flex align-items-center fs-t8 text-gray-400">
              <span class="material-symbols-outlined me-tiny" style="line-height: 16px; height: auto; width: auto;">favorite</span>
              <span>195</span>
            </a>
          </section>
          <section class="message-body p-m ms-auto bg-gray-50 rounded-top-end-3 rounded-bottom-3" style="width: 304px;">
            <p class="fs-t6 mb-0" style="line-height: 20px;">哈！！我老公就是用跌倒搞笑這招追到我的🤣</p>
          </section>
        </li>
      </ul>
    </div>

    <%- include('./layout/footer-tertiary-input-jp'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>