<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>找朋友</title>
  </head>
  <body class="header-bg-friends" style="padding-top: 54px;">
    <%- include('./layout/header-friends'); -%>

    <div class="container py-xs d-flex justify-content-between align-items-center">
      <a href="#" class="position-relative">
        <img src="../assets/images/icon/chat.svg" alt="">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-compl-500 chat-hint">1 <span class="visually-hidden">unread messages</span></span>
      </a>
      <h2 class="fw-700 fs-h2 mb-0">探索朋友</h2>
      <img src="../assets/images/icon/smile.svg" alt="">
    </div>

    <div class="container text-end">
      <p class="fw-700 fs-t6 text-gray-500 text-decoration-underline mb-0">篩選</p>
    </div>

    <div class="container py-m">
      <div class="bg-white d-flex py-m px-s rounded mb-m">
        <div class="flex-shrink-0 position-relative me-s">
          <img src="../assets/images/avatar-1.png" alt="" class="rounded-circle">
          <img src="../assets/images/flag.png" alt="" class="rounded-circle position-absolute start-0 bottom-0">
        </div>
        <div>
          <div class="d-flex align-items-center mb-xs">
            <h4 class="fw-700 me-xxs mb-0">Elly</h4>
            <span class="tag tag-gray pb-tiny me-xs mb-0">留學生</span>
            <span class="tag tag-gray pb-tiny mb-0">INFP</span>
          </div>
          <div class="d-flex align-items-center">
            <span class="fs-t7 me-s mb-0">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，...</span>
            <span class="fs-t7 flex-shrink-0 btn btn-secondary" style="line-height: 1.4;">打招呼</span>
          </div>
        </div>
      </div>

      <div class="bg-white d-flex py-m px-s rounded mb-m">
        <div class="flex-shrink-0 position-relative me-s">
          <img src="../assets/images/avatar-2.png" alt="" class="rounded-circle">
          <img src="../assets/images/flag.png" alt="" class="rounded-circle position-absolute start-0 bottom-0">
        </div>
        <div>
          <div class="d-flex align-items-center mb-xs">
            <h4 class="fw-700 me-xxs mb-0">谷沢佳穂</h4>
            <span class="tag tag-gray pb-tiny me-xs mb-0">留學生</span>
            <span class="tag tag-gray pb-tiny mb-0">INFP</span>
          </div>
          <div class="d-flex align-items-center">
            <span class="fs-t7 me-s mb-0">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，...</span>
            <span class="fs-t7 flex-shrink-0 btn btn-secondary" style="line-height: 1.4;">打招呼</span>
          </div>
        </div>
      </div>

      <div class="bg-white d-flex py-m px-s rounded mb-m">
        <div class="flex-shrink-0 position-relative me-s">
          <img src="../assets/images/avatar-3.png" alt="" class="rounded-circle">
          <img src="../assets/images/flag.png" alt="" class="rounded-circle position-absolute start-0 bottom-0">
        </div>
        <div>
          <div class="d-flex align-items-center mb-xs">
            <h4 class="fw-700 me-xxs mb-0">吳浩子</h4>
            <span class="tag tag-gray pb-tiny me-xs mb-0">留學生</span>
            <span class="tag tag-gray pb-tiny mb-0">INFP</span>
          </div>
          <div class="d-flex align-items-center">
            <span class="fs-t7 me-s mb-0">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，...</span>
            <span class="fs-t7 flex-shrink-0 btn btn-secondary" style="line-height: 1.4;">打招呼</span>
          </div>
        </div>
      </div>

      <div class="bg-white d-flex py-m px-s rounded mb-m">
        <div class="flex-shrink-0 position-relative me-s">
          <img src="../assets/images/avatar-4.png" alt="" class="rounded-circle">
          <img src="../assets/images/flag.png" alt="" class="rounded-circle position-absolute start-0 bottom-0">
        </div>
        <div>
          <div class="d-flex align-items-center mb-xs">
            <h4 class="fw-700 me-xxs mb-0">吉長まさと</h4>
            <span class="tag tag-gray pb-tiny me-xs mb-0">留學生</span>
            <span class="tag tag-gray pb-tiny mb-0">INFP</span>
          </div>
          <div class="d-flex align-items-center">
            <span class="fs-t7 me-s mb-0">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，...</span>
            <span class="fs-t7 flex-shrink-0 btn btn-secondary" style="line-height: 1.4;">打招呼</span>
          </div>
        </div>
      </div>

      <div class="bg-white d-flex py-m px-s rounded">
        <div class="flex-shrink-0 position-relative me-s">
          <img src="../assets/images/avatar-5.png" alt="" class="rounded-circle">
          <img src="../assets/images/flag.png" alt="" class="rounded-circle position-absolute start-0 bottom-0">
        </div>
        <div>
          <div class="d-flex align-items-center mb-xs">
            <h4 class="fw-700 me-xxs mb-0">大澤しずか</h4>
            <span class="tag tag-gray pb-tiny me-xs mb-0">留學生</span>
            <span class="tag tag-gray pb-tiny mb-0">INFP</span>
          </div>
          <div class="d-flex align-items-center">
            <span class="fs-t7 me-s mb-0">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，...</span>
            <span class="fs-t7 flex-shrink-0 btn btn-secondary" style="line-height: 1.4;">打招呼</span>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>