<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chito Chat</title>
  </head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <body style="padding-bottom: 95px;">
    <%- include('./layout/header'); -%>   
    <section class="index-banner mt-m">
      <div class="swiper indexSwiper">
        <div class="swiper-wrapper">
          <!-- 文章一 -->
          <div class="swiper-slide">
            <a href="#">
              <div class="article-card">
              <!-- 圖片 -->
                <img class="card-img" src="../assets/images/index/homepage-banner-1.png" alt="日本的蛙化現象觀察">
                <!-- 文蓋圖 -->
                <div class="card-img-overlay p-m d-flex align-items-end">
                <!-- 文章標題＆內容簡介 -->
                <div class="article-intro">
                  <h3 class="text-white fs-h3 fw-700">日本的蛙化現象觀察</h3>
                  <p class="text-white fs-t8 article-text-truncate mb-0" style="width: 70%;">「蛙化現象」一開始由心理學家藤澤伸介提出，從童話《青蛙王子》衍生而來，指的是當女生得知喜歡的人也喜歡自己後，就變得不喜歡對方了，這樣的現象可能來自女性的自卑感，「他怎麼會喜歡這麼普通的我？」，而對對方感到幻滅，又或者女生只是享受著單戀的過程，喜歡保持距離的曖昧戀愛感，但並不想實際和對方談戀愛。<br>
                  但根據日本媒體《TBS NEWS DIG》街訪調查，「蛙化現象」一詞在年輕人間有了新的解釋，指的是「喜歡的男生讓人感到幻滅的行為」，即使女生原本對該男性抱持好感，也可能因某些生活小細節，戀愛感就突然冷卻，眼中的王子突然變成青蛙。</p>
                </div>
                <!-- 連結 -->
                  <div class="article-link">
                    <p class="text-white fs-t6 text-nowrap align-middle mb-0">看全文<span class="material-symbols-outlined fs-t6 align-middle ms-xxs"> arrow_forward_ios</span></p>
                  </div>
                </div>
              </div>
            </a>  
          </div>
          <!-- 文章二 -->
          <div class="swiper-slide">
            <a href="#">
              <div class="article-card">
              <!-- 圖片 -->
                <img class="card-img" src="../assets/images/index/homepage-banner-2.png" alt="夏日祭典好去處">
                <!-- 文蓋圖 -->
                <div class="card-img-overlay p-m d-flex align-items-end">
                <!-- 文章介紹 -->
                <div class="article-intro">
                  <h3 class="text-white fs-h3 fw-700">夏日祭典好去處</h3>
                  <p class="text-white fs-t8 article-text-truncate mb-0" style="width: 70%;">夏季節慶是日本文化中一年中最令人興奮的活動之一。在炎熱的夏季，這裡以熱鬧、多彩的活動吸引著人們。燈籠照亮了整條街道，為夜晚的街道增添了神秘的氣氛。穿上傳統的浴衣，享受涼爽的晚風。我們提供各種夏季食品，如冷麵、燒烤和冰淇淋。</p>
                </div>
                
                  <div class="article-link">
                    <p class="text-white fs-t6 text-nowrap align-middle mb-0">看全文<span class="material-symbols-outlined fs-t6 align-middle ms-xxs"> arrow_forward_ios</span></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- 文章三 -->
          <div class="swiper-slide">
            <a href="#">
              <div class="article-card">
              <!-- 圖片 -->
                <img class="card-img" src="../assets/images/index/homepage-banner-3.png" alt="你準備好就業了嗎？">
                <!-- 文蓋圖 -->
                <div class="card-img-overlay p-m d-flex align-items-end">
                <!-- 文章介紹 -->
                <div class="article-intro">
                  <h3 class="text-white fs-h3 fw-700">你準備好就業了嗎？</h3>
                  <p class="text-white fs-t8 article-text-truncate mb-0" style="width: 70%;">您準備好工作了嗎？首先，確保您的履歷和求職信完整且有吸引力。接下來，透過研究公司並準備回答常見的面試問題來準備面試。此外，發展和展示技能和專業知識也很重要，這樣您才能在應對工作挑戰時充滿信心。最後，不要忽視人脈的重要性，並透過專業網絡和參與行業活動來擴展您的人脈。成功的就業不僅取決於您的教育和技能，還取決於您的準備和人際網絡。準備好嘗試新事物並在職業生涯中取得成功！</p>
                </div>
                
                  <div class="article-link">
                    <p class="text-white fs-t6 text-nowrap align-middle mb-0">看全文<span class="material-symbols-outlined fs-t6 align-middle ms-xxs"> arrow_forward_ios</span></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- 文章一 -->
          <div class="swiper-slide">
            <a href="#">
              <div class="article-card">
              <!-- 圖片 -->
                <img class="card-img" src="../assets/images/index/homepage-banner-1.png" alt="日本的蛙化現象觀察">
                <!-- 文蓋圖 -->
                <div class="card-img-overlay p-m d-flex align-items-end">
                <!-- 文章標題＆內容簡介 -->
                <div class="article-intro">
                  <h3 class="text-white fs-h3 fw-700">日本的蛙化現象觀察</h3>
                  <p class="text-white fs-t8 article-text-truncate mb-0" style="width: 70%;">「蛙化現象」一開始由心理學家藤澤伸介提出，從童話《青蛙王子》衍生而來，指的是當女生得知喜歡的人也喜歡自己後，就變得不喜歡對方了，這樣的現象可能來自女性的自卑感，「他怎麼會喜歡這麼普通的我？」，而對對方感到幻滅，又或者女生只是享受著單戀的過程，喜歡保持距離的曖昧戀愛感，但並不想實際和對方談戀愛。<br>
                  但根據日本媒體《TBS NEWS DIG》街訪調查，「蛙化現象」一詞在年輕人間有了新的解釋，指的是「喜歡的男生讓人感到幻滅的行為」，即使女生原本對該男性抱持好感，也可能因某些生活小細節，戀愛感就突然冷卻，眼中的王子突然變成青蛙。</p>
                </div>
                <!-- 連結 -->
                  <div class="article-link">
                    <p class="text-white fs-t6 text-nowrap align-middle mb-0">看全文<span class="material-symbols-outlined fs-t6 align-middle ms-xxs"> arrow_forward_ios</span></p>
                  </div>
                </div>
              </div>
            </a>  
          </div>
          <!-- 文章二 -->
          <div class="swiper-slide">
            <a href="#">
              <div class="article-card">
              <!-- 圖片 -->
                <img class="card-img" src="../assets/images/index/homepage-banner-2.png" alt="夏日祭典好去處">
                <!-- 文蓋圖 -->
                <div class="card-img-overlay p-m d-flex align-items-end">
                <!-- 文章介紹 -->
                <div class="article-intro">
                  <h3 class="text-white fs-h3 fw-700">夏日祭典好去處</h3>
                  <p class="text-white fs-t8 article-text-truncate mb-0" style="width: 70%;">夏季節慶是日本文化中一年中最令人興奮的活動之一。在炎熱的夏季，這裡以熱鬧、多彩的活動吸引著人們。燈籠照亮了整條街道，為夜晚的街道增添了神秘的氣氛。穿上傳統的浴衣，享受涼爽的晚風。我們提供各種夏季食品，如冷麵、燒烤和冰淇淋。</p>
                </div>
                
                  <div class="article-link">
                    <p class="text-white fs-t6 text-nowrap align-middle mb-0">看全文<span class="material-symbols-outlined fs-t6 align-middle ms-xxs"> arrow_forward_ios</span></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- 文章三 -->
          <div class="swiper-slide">
            <a href="#">
              <div class="article-card">
              <!-- 圖片 -->
                <img class="card-img" src="../assets/images/index/homepage-banner-3.png" alt="你準備好就業了嗎？">
                <!-- 文蓋圖 -->
                <div class="card-img-overlay p-m d-flex align-items-end">
                <!-- 文章介紹 -->
                <div class="article-intro">
                  <h3 class="text-white fs-h3 fw-700">你準備好就業了嗎？</h3>
                  <p class="text-white fs-t8 article-text-truncate mb-0" style="width: 70%;">您準備好工作了嗎？首先，確保您的履歷和求職信完整且有吸引力。接下來，透過研究公司並準備回答常見的面試問題來準備面試。此外，發展和展示技能和專業知識也很重要，這樣您才能在應對工作挑戰時充滿信心。最後，不要忽視人脈的重要性，並透過專業網絡和參與行業活動來擴展您的人脈。成功的就業不僅取決於您的教育和技能，還取決於您的準備和人際網絡。準備好嘗試新事物並在職業生涯中取得成功！</p>
                </div>
                
                  <div class="article-link">
                    <p class="text-white fs-t6 text-nowrap align-middle mb-0">看全文<span class="material-symbols-outlined fs-t6 align-middle ms-xxs"> arrow_forward_ios</span></p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!-- ↓輪播的div -->
        </div>
        <!-- 分頁器 -->
        <!-- <div class="indexSwiper-pagination"></div> -->
      </div>
    </section>
    
    <div class="container">
      <section class="jap-learning mt-m py-s px-m">
        <h3 class="fs-h3 fw-700 text-gray-900 mb-s">10分鐘學日文</h3>
        <div class="d-flex justify-content-between">
            <!-- 每日一句 -->
            <section class="jap-learning-content bg-white d-flex flex-column justify-content-between">
              <div class="jap-learning-title d-flex gap-xs">
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">每</h5>
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">日</h5>
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">一</h5>
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">句</h5>
              </div>
              <!-- 標註日文假名 -->
              <div class="jap-vacb fs-t4 text-gray-900 mb-xl">
                <ruby>
                  駆逐
                  <rp>(</rp>
                  <rt class="fs-t7 mb-tiny">くちく</rt>
                  <rp>)</rp> 
                </ruby>
                <span>してやる</span>
              </div>            
            </section>
            <!-- 課程進度 -->
            <section class="jap-learning-content py-s px-xs bg-white d-flex flex-column justify-content-between">
              <div class="jap-learning-title d-flex gap-xs mx-xs">
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">課</h5>
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">程</h5>
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">進</h5>
                <h5 class="fs-h5 py-tiny px-xxs bg-primary-light text-white rounded-tiny">度</h5>
              </div>
              <div class="course-progress text-primary rounded-circle mt-xs mb-xl">
                <p class="course-progress-number">0<span class="course-progress-percentage">%</span></p>
              </div>            
            </section>
          </div>
      </section>
    </div>
      
    <div class="container">
      <section class="nearby-people mt-m py-s px-xs">
        <h3 class="fs-h3 fw-700 text-gray-900">附近都有誰</h3>
        <div class="nearby-people-wrapper bg-white rounded-2 py-m px-s">
          <!-- swiper -->
          <div class="swiper friendSwiper">
            <div class="swiper-wrapper">
              <!-- 人物一 -->
              <div class="swiper-slide d-flex align-items-end gap-xs">
                <section class="nearby-people-img flex-shrink-0">
                  <img class="object-fit-cover" style="width: 72px;" src="../assets/images/index/avatar-1.png" alt="Mike">
                </section>
                <section class="nearby-people-text">
                  <div class="nearby-people-title d-flex align-items-start">
                    <h4 class="fs-h4 fw-700 pt-tiny">Mike</h4>
                    <div class="tag-sm tag-gray mx-xxs text-nowrap">留學生</div>
                    <div class="tag-sm tag-gray mx-xxs text-nowrap">ENTJ</div>
                  </div>
                  <div class="ms-3">
                    <p class="fs-t7 article-text-truncate mb-0 mt-auto">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，一起在日本快樂的生活～</p>
                  </div>
                </section>
                <section class="nearby-people-btn">
                  <div class="btn btn-secondary fs-t7 text-nowrap" style="line-height: 17px;">打招呼</div>
                </section>
              </div>
              <!-- 人物二 -->
              <div class="swiper-slide d-flex align-items-end gap-xs">
                <section class="nearby-people-img flex-shrink-0">
                  <img class="object-fit-cover" style="width: 72px;" src="../assets/images/index/avatar-2.png" alt="吳浩子">
                </section>
                <section class="nearby-people-text">
                  <div class="nearby-people-title d-flex align-items-start">
                    <h4 class="fs-h4 fw-700 pt-tiny">吳浩子</h4>
                    <div class="tag-sm tag-gray mx-xxs text-nowrap">留學生</div>
                    <div class="tag-sm tag-gray mx-xxs text-nowrap">INFP</div>
                  </div>
                  <div class="ms-3">
                    <p class="fs-t7 article-text-truncate mb-0 mt-auto">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，一起在日本快樂的生活～</p>
                  </div>
                </section>
                <section class="nearby-people-btn">
                  <div class="btn btn-secondary fs-t7 text-nowrap" style="line-height: 17px;">打招呼</div>
                </section>
              </div>
              <!-- 人物三 -->
              <div class="swiper-slide d-flex align-items-end gap-xs">
                <section class="nearby-people-img flex-shrink-0">
                  <img class="object-fit-cover" style="width: 72px;" src="../assets/images/index/avatar-3.png" alt="Elly">
                </section>
                <section class="nearby-people-text">
                  <div class="nearby-people-title d-flex align-items-start">
                    <h4 class="fs-h4 fw-700 pt-tiny">Elly</h4>
                    <div class="tag-sm tag-gray mx-xxs text-nowrap">留學生</div>
                    <div class="tag-sm tag-gray mx-xxs text-nowrap">ENTJ</div>
                  </div>
                  <div class="ms-3">
                    <p class="fs-t7 article-text-truncate mb-0 mt-auto">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，一起在日本快樂的生活～</p>
                  </div>
                </section>
                <section class="nearby-people-btn">
                  <div class="btn btn-secondary fs-t7 text-nowrap" style="line-height: 17px;">打招呼</div>
                </section>
              </div>
              <!-- 人物四 -->
              <div class="swiper-slide d-flex align-items-end gap-xs">
                <section class="nearby-people-img flex-shrink-0">
                  <img class="object-fit-cover" style="width: 72px;" src="../assets/images/index/avatar-4.png" alt="吉長まさと">
                </section>
                <div class="d-flex flex-column">
                  <section class="nearby-people-text">
                    <div class="nearby-people-title d-flex align-items-start">
                      <h4 class="fs-h4 fw-700 pt-tiny text-nowrap">吉長まさと</h4>
                      <div class="tag-sm tag-gray mx-xxs text-nowrap">上班族</div>
                      <div class="tag-sm tag-gray mx-xxs text-nowrap">ENFJ</div>
                    </div>
                  </section>
                  <section class="nearby-people-bot d-flex">
                    <div class="ms-3">
                      <p class="fs-t7 article-text-truncate mb-0 mt-auto">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，一起在日本快樂的生活～</p>
                    </div>
                    <div class="btn btn-secondary fs-t7 text-nowrap" style="line-height: 17px;">打招呼</div>
                  </section>
                </div>
              </div>
              <!-- 人物五 -->
              <div class="swiper-slide d-flex align-items-end gap-xs">
                <section class="nearby-people-img flex-shrink-0">
                  <img class="object-fit-cover" style="width: 72px;" src="../assets/images/index/avatar-5.png" alt="Jenny">
                </section>
                <div class="d-flex flex-column">
                  <section class="nearby-people-text">
                    <div class="nearby-people-title d-flex align-items-start">
                      <h4 class="fs-h4 fw-700 pt-tiny text-nowrap">Jenny</h4>
                      <div class="tag-sm tag-gray mx-xxs text-nowrap">準畢業生</div>
                      <div class="tag-sm tag-gray mx-xxs text-nowrap">INTP</div>
                    </div>
                  </section>
                  <section class="nearby-people-bot d-flex">
                    <div class="ms-3">
                      <p class="fs-t7 article-text-truncate mb-0 mt-auto">我是台灣人，剛來到東京上大學，希望能認識更多的朋友，一起在日本快樂的生活～</p>
                    </div>
                    <div class="btn btn-secondary fs-t7 text-nowrap" style="line-height: 17px;">打招呼</div>
                  </section>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>
    </div>


    <div class="container">
      <section class="nearby-event mt-m py-s px-m">
        <h3 class="fs-h3 fw-700 text-gray-900">附近的活動</h3>
        <section class="nearby-event-map mb-s">
          <a href="#mapInsert"  type="button" data-bs-toggle="modal">
            <img class="object-fit-cover rounded-2" src="../assets/images/index/map_w_icon.png" alt="附近的活動">
          </a>
          <div class="modal fade" id="mapInsert" tabindex="-1" aria-labelledby="mapInsert" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
                  <h1 class="modal-title fs-h3 fw-700 mx-auto" id="mapInsert">附近的活動</h1>
                  <button type="button" class="btn-close m-0 opacity-0" data-bs-dismiss="modal" aria-label="Close" disabled></button>
                </div>
                <div class="modal-body p-s">
                  <div class="modal-map" style="padding-top: 430px; padding-bottom: 140px;">
                    <div class="swiper mapmodalSwiper">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <!-- 卡片一 -->
                          <a href="#" title="查看活動">
                            <div class="p-s bg-white rounded-2 border bg-gray-100 text-gray-900 w-auto" style="width: 361px;">
                              <div class="d-flex">
                                <div class="me-s" style="width: 189px;">
                                  <a class="tag tag-tertiary me-xs" href="#">寵物</a>
                                  <a class="tag tag-secondary" href="#">預約 • 8人 </a>
                                  <h3 class="fs-h3 fw-700 text-truncate mt-xs mb-0">狗狗奔跑日</h3>
                                  <p class="fs-t6 text-truncate mt-xs mb-0">歡迎參加語言交流會，通過小組討論和互動遊戲提升語言技能，結交來自世界各地的新朋友！</p>
                                </div>
                                <div>
                                  <img class="object-fit-cover" src="../assets/images/index/map-modal-1.png" alt="狗狗奔跑日">
                                </div>
                              </div>
                              <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs mb-0">
                                <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
                                <!-- 我是分隔線 -->
                                <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
                                <li style="background: transparent; height: 12px; width: 6px;"></li>
                                <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
                              </ul>
                            </div>
                          </a>
                        </div>

                        <div class="swiper-slide">
                          <!-- 卡片二 -->
                          <a href="#" title="查看活動">
                            <div class="p-s bg-white rounded-2 border bg-gray-100 text-gray-900 w-auto" style="width: 361px;">
                              <div class="d-flex">
                                <div class="me-s" style="width: 189px;">
                                  <a class="tag tag-tertiary me-xs" href="#">就業</a>
                                  <a class="tag tag-secondary" href="#">預約 • 21人 </a>
                                  <h3 class="fs-h3 fw-700 text-truncate mt-xs mb-0">就業指南研討會</h3>
                                  <p class="fs-t6 text-truncate mt-xs mb-0">這場研討會旨在為即將大學畢業的學生提供全面的就業指導。我們將討論大學畢業後的就業趨勢和挑戰，以及如何準備和撰寫出色的履歷和求職信。活動還包括面試技巧的分享和模擬面試，幫助參加者準備迎接真實的職場挑戰。</p>
                                </div>
                                <div>
                                  <img class="object-fit-cover" src="../assets/images/index/map-modal-2.png" alt="就業指南研討會">
                                </div>
                              </div>
                              <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs mb-0">
                                <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
                                <!-- 我是分隔線 -->
                                <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
                                <li style="background: transparent; height: 12px; width: 6px;"></li>
                                <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
                              </ul>
                            </div>
                          </a>
                        </div>

                        <div class="swiper-slide">
                          <!-- 卡片三 -->
                          <a href="#" title="查看活動">
                            <div class="p-s bg-white rounded-2 border bg-gray-100 text-gray-900 w-auto" style="width: 361px;">
                              <div class="d-flex">
                                <div class="me-s" style="width: 189px;">
                                  <a class="tag tag-primary me-xs" href="#">語言</a>
                                  <a class="tag tag-secondary" href="#">預約 • 8人 </a>
                                  <h3 class="fs-h3 fw-700 text-truncate mt-xs mb-0">語言交流會</h3>
                                  <p class="fs-t6 text-truncate mt-xs mb-0">歡迎參加語言交流會，通過小組討論和互動遊戲提升語言技能，結交來自世界各地的新朋友！</p>
                                </div>
                                <div>
                                  <img class="object-fit-cover" src="../assets/images/index/map-modal-3.png" alt="語言交流會">
                                </div>
                              </div>
                              <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs mb-0">
                                <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
                                <!-- 我是分隔線 -->
                                <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
                                <li style="background: transparent; height: 12px; width: 6px;"></li>
                                <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
                              </ul>
                            </div>
                          </a>
                        </div>

                        <div class="swiper-slide">
                          <!-- 卡片一 -->
                          <a href="#" title="查看活動">
                            <div class="p-s bg-white rounded-2 border bg-gray-100 text-gray-900 w-auto" style="width: 361px;">
                              <div class="d-flex">
                                <div class="me-s" style="width: 189px;">
                                  <a class="tag tag-tertiary me-xs" href="#">寵物</a>
                                  <a class="tag tag-secondary" href="#">預約 • 8人 </a>
                                  <h3 class="fs-h3 fw-700 text-truncate mt-xs mb-0">狗狗奔跑日</h3>
                                  <p class="fs-t6 text-truncate mt-xs mb-0">歡迎參加語言交流會，通過小組討論和互動遊戲提升語言技能，結交來自世界各地的新朋友！</p>
                                </div>
                                <div>
                                  <img class="object-fit-cover" src="../assets/images/index/map-modal-1.png" alt="狗狗奔跑日">
                                </div>
                              </div>
                              <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs mb-0">
                                <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
                                <!-- 我是分隔線 -->
                                <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
                                <li style="background: transparent; height: 12px; width: 6px;"></li>
                                <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
                              </ul>
                            </div>
                          </a>
                        </div>

                        <div class="swiper-slide">
                          <!-- 卡片二 -->
                          <a href="#" title="查看活動">
                            <div class="p-s bg-white rounded-2 border bg-gray-100 text-gray-900 w-auto" style="width: 361px;">
                              <div class="d-flex">
                                <div class="me-s" style="width: 189px;">
                                  <a class="tag tag-tertiary me-xs" href="#">就業</a>
                                  <a class="tag tag-secondary" href="#">預約 • 21人 </a>
                                  <h3 class="fs-h3 fw-700 text-truncate mt-xs mb-0">就業指南研討會</h3>
                                  <p class="fs-t6 text-truncate mt-xs mb-0">這場研討會旨在為即將大學畢業的學生提供全面的就業指導。我們將討論大學畢業後的就業趨勢和挑戰，以及如何準備和撰寫出色的履歷和求職信。活動還包括面試技巧的分享和模擬面試，幫助參加者準備迎接真實的職場挑戰。</p>
                                </div>
                                <div>
                                  <img class="object-fit-cover" src="../assets/images/index/map-modal-2.png" alt="就業指南研討會">
                                </div>
                              </div>
                              <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs mb-0">
                                <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
                                <!-- 我是分隔線 -->
                                <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
                                <li style="background: transparent; height: 12px; width: 6px;"></li>
                                <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
                              </ul>
                            </div>
                          </a>
                        </div>

                        <div class="swiper-slide">
                          <!-- 卡片三 -->
                          <a href="#" title="查看活動">
                            <div class="p-s bg-white rounded-2 border bg-gray-100 text-gray-900 w-auto" style="width: 361px;">
                              <div class="d-flex">
                                <div class="me-s" style="width: 189px;">
                                  <a class="tag tag-primary me-xs" href="#">語言</a>
                                  <a class="tag tag-secondary" href="#">預約 • 8人 </a>
                                  <h3 class="fs-h3 fw-700 text-truncate mt-xs mb-0">語言交流會</h3>
                                  <p class="fs-t6 text-truncate mt-xs mb-0">歡迎參加語言交流會，通過小組討論和互動遊戲提升語言技能，結交來自世界各地的新朋友！</p>
                                </div>
                                <div>
                                  <img class="object-fit-cover" src="../assets/images/index/map-modal-3.png" alt="語言交流會">
                                </div>
                              </div>
                              <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs mb-0">
                                <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
                                <!-- 我是分隔線 -->
                                <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
                                <li style="background: transparent; height: 12px; width: 6px;"></li>
                                <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary-light fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
                              </ul>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <ul class="nearby-event-list list-unstyled mb-0">
          <!-- 活動一 -->
          <li class="nearby-event-card p-m bg-white border border-gray-100 rounded-2 text-gray-900 mb-s">
            <div class="d-flex align-items-end">
              <!-- 活動介紹 -->
              <div class="event-card-intro me-s" style="width: 189px;">
                <a href="#" class="text-nowrap tag tag-primary me-xs">語言</a>
                <a href="#" class="text-nowrap tag tag-secondary">預約 • 20人 </a>
                <h3 class="ts-h3 fw-700 mb-0 py-xs">語言交流會</h3>
                <p class="fs-t6 article-text-truncate">歡迎參加語言交流會，通過小組討論和互動遊戲提升語言技能，結交來自世界各地的新朋友！</p>
              </div>
              <!-- 活動圖片 -->
              <div class="event-card-img">
                <img class="object-fit-cover" src="../assets/images/index/activ-1.png" alt="語言交流會">
              </div>
            </div>
            <!-- 活動時間、地區 -->
            <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs">
              <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-primary fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
              <!-- 我是分隔線 -->
              <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
              <li style="background: transparent; height: 12px; width: 6px;"></li>
              <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-primary fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
            </ul>
          </li>
          <!-- 活動二 -->
          <li class="nearby-event-card p-m bg-white border border-gray-100 rounded-2 text-gray-900 mb-s">
            <div class="d-flex align-items-end">
              <!-- 活動介紹 -->
              <div class="event-card-intro me-s" style="width: 189px;">
                <a href="#" class="text-nowrap tag tag-primary me-xs">就職</a>
                <a href="#" class="text-nowrap tag tag-secondary">預約 • 22人</a>
                <h3 class="ts-h3 fw-700 mb-0 py-xs">企業面試準備</h3>
                <p class="fs-t6 article-text-truncate">面試前需研究公司背景、準備回答常見問題並提前訓練自信表達。穿著適當且準時到達面試地點，展現出對職位的熱情和專業素養。</p>
              </div>
              <!-- 活動圖片 -->
              <div class="event-card-img">
                <img class="object-fit-cover" src="../assets/images/index/activ-2.png" alt="企業面試準備">
              </div>
            </div>
            <!-- 活動時間、地區 -->
            <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs">
              <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-primary fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
              <!-- 我是分隔線 -->
              <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
              <li style="background: transparent; height: 12px; width: 6px;"></li>
              <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-primary fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
            </ul>
          </li>
          <!-- 活動三 -->
          <li class="nearby-event-card p-m bg-white border border-gray-100 rounded-2 text-gray-900 mb-s">
            <div class="d-flex align-items-end">
              <!-- 活動介紹 -->
              <div class="event-card-intro me-s" style="width: 189px;">
                <a href="#" class="text-nowrap tag tag-tertiary me-xs">文化</a>
                <a href="#" class="text-nowrap tag tag-secondary">預約 • 2人 </a>
                <h3 class="ts-h3 fw-700 mb-0 py-xs">揪團去夏日慶典</h3>
                <p class="fs-t6 article-text-truncate">來感受夏日慶典的熱情與歡樂吧！搭伴共赴煙火盛宴，品味美食，感受流光溢彩的瞬間，讓我們一同創造美好回憶！</p>
              </div>
              <!-- 活動圖片 -->
              <div class="event-card-img">
                <img class="object-fit-cover" src="../assets/images/index/activ-3.png" alt="揪團去夏日慶典">
              </div>
            </div>
            <!-- 活動時間、地區 -->
            <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs">
              <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
              <!-- 我是分隔線 -->
              <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
              <li style="background: transparent; height: 12px; width: 6px;"></li>
              <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
            </ul>
          </li>
          <!-- 活動四 -->
          <li class="nearby-event-card p-m bg-white border border-gray-100 rounded-2 text-gray-900">
            <div class="d-flex align-items-end">
              <!-- 活動介紹 -->
              <div class="event-card-intro me-s" style="width: 189px;">
                <a href="#" class="text-nowrap tag tag-tertiary me-xs">就業</a>
                <a href="#" class="text-nowrap tag tag-secondary">預約 • 21人 </a>
                <h3 class="ts-h3 fw-700 mb-0 py-xs">就業指南研討會</h3>
                <p class="fs-t6 article-text-truncate">這場研討會旨在為即將大學畢業的學生提供全面的就業指導。我們將討論大學畢業後的就業趨勢和挑戰，以及如何準備和撰寫出色的履歷和求職信。活動還包括面試技巧的分享和模擬面試，幫助參加者準備迎接真實的職場挑戰。</p>
              </div>
              <!-- 活動圖片 -->
              <div class="event-card-img">
                <img class="object-fit-cover" src="../assets/images/index/activ-4.png" alt="就業指南研討會">
              </div>
            </div>
            <!-- 活動時間、地區 -->
            <ul class="event-card-info list-unstyled d-flex align-items-center mt-xs">
              <li class="fs-t7" style="line-height: 16px; padding-right: 6px;"><span class="material-symbols-outlined text-tertiary fs-t5 me-tiny">location_on</span><a href="#" class="align-top">東京澀谷區</a></li>
              <!-- 我是分隔線 -->
              <li class="border-gray-600 border-end align-top" style="background: transparent; height: 12px; width: 6px;"></li>
              <li style="background: transparent; height: 12px; width: 6px;"></li>
              <li class="fs-t7" style="line-height: 16px; padding-left: 6px;"><span class="material-symbols-outlined text-tertiary fs-t5 me-tiny">event</span><a href="#" class="align-top">7/27 (土) • 10:00~12:00</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>


    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
