<!DOCTYPE html>
<html lang="zh-hant">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>找朋友</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,400,0,0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<body class="header-bg-friends" style="padding-top: 54px; padding-bottom: 75px;">
  <%- include('./layout/header-friends'); -%>

  <div class="container py-xs d-flex justify-content-between align-items-center">
    <a href="friends.html">
      <img src="../assets/images/icon/back.svg" alt="">
    </a>
    <h2 class="fw-700 fs-h2 mb-0">好友 23 名</h2>
    <a href="myChat.html">
      <img src="../assets/images/icon/chat.svg" alt="">
    </a>
  </div>

  <div class="rounded-top-5 bg-white py-l">
    <div class="container">
      <div class="input-group mb-l">
        <img src="../assets/images/icon/search-gray.svg" alt="search" class="input-group-text border-end-0 bg-white pe-xs">
        <input type="text" class="form-control border-start-0 ps-0 text-start" placeholder="搜尋" aria-label="Username" aria-describedby="basic-addon1" style="text-indent: 0;">
      </div>
      <h3 class="fw-700 fs-h3 mb-s text-secondary-darker">留學生<span class="ms-xs">8</span></h3>
      <ul class="list-unstyled mb-l">
        <li class="d-flex align-items-center mb-m">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-1.png" alt="" style="width: 54px;">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Elly</h4>
        </li>
        <li class="d-flex align-items-center mb-m">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-6.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Joanna Lin</h4>
        </li>
        <li class="d-flex align-items-center mb-m">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-7.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Peter</h4>
        </li>
        <li class="d-flex align-items-center mb-m">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-8.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Yuu</h4>
        </li>
        <li class="d-flex align-items-center">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-9.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">John</h4>
        </li>
      </ul>

      <h3 class="fw-700 fs-h3 mb-s text-secondary-darker">皮克敏同好會<span class="ms-xs">14</span></h3>
      <ul class="list-unstyled mb-0">
        <li class="d-flex align-items-center mb-m">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-10.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Handsome</h4>
        </li>
        <li class="d-flex align-items-center mb-m">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-10.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Handsome</h4>
        </li>
        <li class="d-flex align-items-center">
          <div class="position-relative me-xs">
            <img src="../assets/images/avatar-11.png" alt="">
            <img src="../assets/images/flag-2.svg" alt="" class="position-absolute bottom-0 start-0">
          </div>
          <h4 class="fw-700 fs-hs mb-0">Pretty</h4>
        </li>
      </ul>
    </div>
  </div>

  <%- include('./layout/footer', {page: "myFriends"}); -%>
  <script type="module" src="../main.js"></script>
</body>
</html>